* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

/* Game container */
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Game grid */
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

/* Game boxes */
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    font-weight: bold;
    color: #b0413e;
    background-color: #ffffc7;
}

/* Reset button */
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

/* New Game button */
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

/* Winner message */
#msg {
    color: #ffffc7;
    font-size: 5vmin;
}

/* Message container */
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

/* Hide class */
.hide {
    display: none;
}
#check-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}